/* .tables{
border: 14px;
}
.header{
background-color: blue;
color: white;
text-align: center;
}
.body{
    background-color: red;
    color: white;
    text-align: center;
}
a:link{
    color:green
}
a:hover{
    color: red;
}
a:visited{
    color: yellow;
}
a:active{
    color: blue;
}
.div_1
{
    border: double;
    border-color: black;
}
.p_1:hover{
background-color: red;
color: green;
font-size: 24px;
}
border-radius: 10px; */

/* P:hover{
    color: red;
} */