body {
  height: 70%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  color: red;
  font-weight: 500;
  margin-left: 80px;
  margin-right: 80px;
}

h1 {
  text-align: center;
  color: blue;
}

.card {
  margin-left: auto;
  margin-right: auto;
  height: 460px !important;
  background-color: #f2f2f2;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: #f2f2f2 !important;
  border: none !important;
  height: 70px;
  width: 90px;
  font-weight: 500 !important;
}

#clear {
  color: red;
}

#multiply,
#divide,
#subtract,
#add,
#back,
#dot {
  color: blue;
  font-weight: 800 !important;
}

button[id="equal"] {
  height: 40px;
  width: 140px;
  color: white;
  background-color: #3e8bf0 !important;
  margin-left: 20px;
}
